@model Sitecore.Data.Items.Item
@using Sitecore.Mvc
@using BasicCompany.Feature.News
@using BasicCompany.Foundation.FieldRendering

@{
    var newsImageOptions = new Sitecore.Resources.Media.MediaUrlOptions
    {
        MaxWidth = 480,
        AllowStretch = false,
    };
}

<a href="@Html.Sitecore().ItemUrl(Model)" class="column product-list-column is-4-desctop is-6-tablet">
    <div class="card">
        <div class="card-image">
            <figure style="background-image: url(@Html.Sitecore().MediaUrl(BasicCompany.Feature.News.Templates.News.Fields.NewsHeaderImage, Model, newsImageOptions))"></figure>
        </div>
        <div class="card-content">
            <div class="content">
                <h4>@Html.Sitecore().Field(BasicCompany.Feature.News.Templates.News.Fields.NewsTitle, Model)</h4>
                <p> <i />@Html.Sitecore().Field(BasicCompany.Feature.News.Templates.News.Fields.NewsAuthor, Model) </i></p>
            </div>
        </div>
    </div>
</a>