<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.News" extends="Foundation.Serialization.Base" description="News definition items" dependencies="Foundation.*" patch:after="configuration[@name='Foundation.Serialization.Base']">
          <predicate>
            <include name="templates" database="master" path="/sitecore/templates/Feature/News" />
            <include name="renderings" database="master" path="/sitecore/layout/renderings/Feature/News" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>